.logout{
    position: relative;
    right: -1000px;
    bottom:80px;
}
.uname{
    position: relative;
    left: 60px;
    bottom: 40px;
}
.content{
    position: relative;
    left:200px;
    align-content: center;
}
.data{
    position: relative;
    left:180px;   
}
.propic{
    position: relative;
    left: 0px; 
    border-radius: 50%;
    height: 50px;
    width: 50px;  
}